$font-stack:    Helvetica, sans-serif;
$primary-color: blue;
$secondary-colour: black;


body {
  font: 100% $font-stack;
  color: $primary-color;
  width: 100%;
  
}

.searchSection{
  display: flex;
  justify-content: center;
  .searchForm{
    width: 200px;
  }
}

.resultsSection{
  color: $secondary-colour;
}